<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Meziantou.WpfFontAwesome" version="5.3.1" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="WpfLightToolkit" version="1.0.3" targetFramework="net461" />
</packages>